/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  color: rgb(39, 38, 38);
}

h1 {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

form {
  width: 500px;
  margin: 20px auto;
}

input,
button {
  display: block;
  padding: 8px 16px;
  font-size: 2em;
  margin: 7px auto 25px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}

button {
  background: transparent;
  border: none;
}

button:focus,
button:active {
  border: none;
  outline: 0;
}

/* styles to validate input fields */

input.valid {
  border-color: #36cc36;
}
input.invalid {
  border-color: orange;
}
input + p {
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}
input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
